// Import page-specific CSS files here.
@import "home";

// DEFAULTS
* {
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  padding: 0;
}

// MEDIA QUERIES
.content-container {
	width: 80vw;
  margin: 0 auto;
}

/* Very large devices */
@media screen and (min-width: 1400px) {
  .content-container {
    width: 700px;
	}
}
@media screen and (min-width: 1600px) {
  .content-container {
    width: 1400px;
	}
}
@media screen and (min-width: 1900px) {
  .content-container {
    width: 1700px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  .content-container {
    width: 700px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  .content-container {
    width: 600px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 576px) {
  .content-container {
    width: 300px;
	}
	.intro-pic {
		display: none;
	}
}

// TEXT & BACKGROUND COLOURS
.teal-text {
	color: $teal !important;
}

.light-teal-text {
	color: $light-teal !important;
}

.p-white-text {
	color: $p-white !important;
}

.raisin-text {
	color: $raisin !important;
}

.teal-background {
	background-color: $teal;
	opacity: 1;
	background-image:  linear-gradient(135deg, #60a9a9 25%, transparent 25%), linear-gradient(225deg, #60a9a9 25%, transparent 25%), linear-gradient(45deg, #60a9a9 25%, transparent 25%), linear-gradient(315deg, #60a9a9 25%, #68b0ab 25%);
	background-position:  20px 0, 20px 0, 0 0, 0 0;
	background-size: 40px 40px;
	background-repeat: repeat;
}

.lighter-teal-background {
	background-color: $lighter-teal;
}

.raisin-background {
	background-color: $raisin;
}

// INTRO
.intro-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.hello {
		font-size: 112px;
	}
	.intro-text {
		margin-bottom: 12px;
	}
}

.intro-pic {
	background-image: url(/assets/images/profile_crop.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 32px;
	height: 480px;
	width: 480px;
	margin-right: 24px;
}

.circle-button-container {
	display: flex;
	justify-content: space-between;
	width: 200px;
	margin-top: 12px;
	margin-bottom: 24px;
	a {
		text-decoration: none;
		display: inline-block;
		color: $gray;
	}
	.a:hover {
		text-decoration: none;
		}
	
	a:visited {
			color: $gray !important;
	}
	
	a:active {
			color: $gray !important;
	}
	.circle-button {
		display: grid;
		place-items: center;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		background-color: $light-teal;
		transition: width 0.2s, height 0.2s, transform 0.2s, background-color 0.2s;
	}
	.circle-button:hover {
		height: 48px;
		width: 48px;
		transform: rotate(20deg);
		background-color: $teal;
	}
}

// GENERAL SECTIONS
.section {
	text-align: center;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.section-header {
	margin-bottom: 2vh;
}

.paragraph-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.paragraph-content {
    flex: 0 1 300px;
    margin: 16px;
    h4 {
      font-family: "Poppins";
      font-weight: 700;
    }
	}
}

// SECTION: ABOUT

.about-container {
	a {
    color: $teal;
    transition: 0.1s;
	}
	a:hover {
		color: darken;
		font-weight: bold;
		text-decoration: none;
	}
}

.skill {
	display: inline-block;
	border: 2px solid white;
	border-radius: 8px;
	background-color: $lighter-teal;
	padding: 0 1em;
	margin: 4px;
}

// SECTION: CONTACT
.contact-container {
	a {
    color: $teal;
    transition: 0.4s ease-in-out;
	}
	a:hover {
    color: $lighter-teal;
		text-decoration: none;
	}
}

.email-text {
  margin-left: 2px;
}

.social-container {
  font-size: 32px;
}

.top-arrow {
  font-size: 24px;
  margin-top: 2.5vh;
}

.footer {
  margin-top: 8px;
	font-size: x-small;
}
