// Import page-specific CSS files here.
@import "home";

// Defaults
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

// Media
.content-container {
  width: 80vw;
  margin: 0 auto;
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  .content-container {
    width: 700px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  .content-container {
    width: 600px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 576px) {
  .content-container {
    width: 300px;
  }
}

// Text colours
.teal-text {
	color: $teal;
}

//INTRO
.intro-pic {
	background-image: url(/assets/images/profile_crop.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 32px;
	height: 400px;
	width: 400px;
}
