// INTRO
.project-intro-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.project-intro-content {
		flex: 0 1 400px;
		margin: 16px;
	}
	.project-intro-text {
		margin-bottom: 12px;
		margin-right: 24px;
		text-align: right;
	}
	.project-greeting-text {
		font-size: 64px;
	}

	.project-links-container {
		display: flex;
		justify-content: flex-end;
		margin-top: 12px;
		margin-right: 24px;
		font-size: 32px;
		a {
			text-decoration: none;
			display: inline-block;
			color: $gray;
		}
		.a:hover {
			text-decoration: none;
		}

		a:visited {
			color: $gray !important;
		}

		a:active {
			color: $gray !important;
		}
		.link-button {
			display: grid;
			place-items: center;
			padding: 4px 1em;
			margin: 2px;
			border-radius: 4px;
			background-color: $light-teal;
			transition: height 0.4s, transform 0.4s, background-color 0.4s;
		}
		.link-button:hover {
			height: 120%;
			color: $p-white;
			background-color: $teal;
		}
	}
}

// GENERAL SECTIONS
.project-section {
	text-align: center;
	a {
		color: $teal;
		transition: 0.1s;
	}
	a:hover {
		color: darken;
		font-weight: bold;
		text-decoration: none;
	}
}

.project-section-header {
	margin-bottom: 8px;
}

.project-paragraph-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.project-paragraph-content {
		flex: 0 1 500px;
		margin: 16px;
		h4 {
			font-family: "Poppins";
			font-weight: 700;
		}
	}
	.challenges-paragraph {
		text-align: left;
	}
}

// MEDIA QUERIES
.content-container {
	width: 80vw;
	margin: 0 auto;
}

/* Really, really large screens */
@media screen and (max-width: 3840px) {
	.content-container {
		width: 1400px;
	}
	.project-intro-container {
		padding-top: 10vh;
		padding-bottom: 10vh;
	}
	.project-section {
		text-align: center;
		padding-top: 10vh;
		padding-bottom: 10vh;
	}
	.project-iru-pic {
		background-image: url(/assets/images/iru_landing.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		height: 320px;
		width: 640px;
	}
	.project-foxy-pic {
		background-image: url(/assets/images/foxybeats_landing.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		height: 320px;
		width: 640px;
	}
	.iru-map-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1610978350/map_filtering_gif_nih6hm.gif);
		height: 240px;
		width: 480px;
	}
	.iru-donation-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1610978349/donation_gif_xsefru.gif);
		width: 480px;
		height: 240px;
	}
	.iru-comment-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1610978348/comment_gif_tjvjun.gif);
		width: 480px;
		height: 240px;
	}
	.iru-sns-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1610978349/sns_gif_srfgwv.gif);
		width: 480px;
		height: 240px;
	}
	.foxy-search-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1611043070/searching_gif_skrdk1.gif);
		background-repeat: no-repeat;
		width: 480px;
		height: 240px;
	}
	.foxy-add-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1611043061/add_new_gif_oe1sfu.gif);
		background-repeat: no-repeat;
		width: 480px;
		height: 240px;
	}
	.foxy-rent-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1611043060/renting_gif_tvldrw.gif);
		background-repeat: no-repeat;
		width: 480px;
		height: 240px;
	}
	.foxy-accept-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1611043060/accept_reject_gif_bfakfr.gif);
		background-repeat: no-repeat;
		width: 480px;
		height: 240px;
	}
}

/* Larger devices (extra large screens) */
@media screen and (max-width: 1400px) {
	.content-container {
		width: 1200px;
	}
}

/* Larger devices (desktops/large screens) */
@media (max-width: 1200px) {
	.content-container {
		width: 1000px;
	}
	.project-section {
		text-align: center;
		padding-top: 7.5vh;
		padding-bottom: 7.5vh;
	}
}

/* Large devices (small screens/laptops) */
@media (max-width: 1024px) {
	.content-container {
		width: 800px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
	.content-container {
		width: 600px;
	}
	.project-iru-pic {
		background-image: url(/assets/images/iru_landing.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		height: 300px;
		width: 600px;
	}
	.project-foxy-pic {
		background-image: url(/assets/images/foxybeats_landing.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		height: 300px;
		width: 600px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 480px) {
	.content-container {
		width: 320px;
	}
	.project-intro-container {
		padding-top: 4vh;
		padding-bottom: 5vh;
	}
	.project-section {
		text-align: center;
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	.project-iru-pic {
		background-image: url(/assets/images/iru_landing.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		height: 160px;
		width: 320px;
	}
	.project-foxy-pic {
		background-image: url(/assets/images/foxybeats_landing.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		height: 160px;
		width: 320px;
	}
	.iru-map-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1610978350/map_filtering_gif_nih6hm.gif);
		background-size: cover;
		width: 320px;
		height: 160px;
	}
	.iru-donation-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1610978349/donation_gif_xsefru.gif);
		background-size: cover;
		width: 320px;
		height: 160px;
	}
	.iru-comment-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1610978348/comment_gif_tjvjun.gif);
		background-size: cover;
		width: 320px;
		height: 160px;
	}
	.iru-sns-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1610978349/sns_gif_srfgwv.gif);
		background-size: cover;
		width: 320px;
		height: 160px;
	}
	.foxy-search-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1611043070/searching_gif_skrdk1.gif);
		background-size: cover;
		background-repeat: no-repeat;
		width: 320px;
		height: 160px;
	}
	.foxy-add-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1611043061/add_new_gif_oe1sfu.gif);
		background-size: cover;
		background-repeat: no-repeat;
		width: 320px;
		height: 160px;
	}
	.foxy-rent-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1611043060/renting_gif_tvldrw.gif);
		background-size: cover;
		background-repeat: no-repeat;
		width: 320px;
		height: 160px;
	}
	.foxy-accept-gif {
		background-image: url(https://res.cloudinary.com/ensvo/image/upload/v1611043060/accept_reject_gif_bfakfr.gif);
		background-size: cover;
		background-repeat: no-repeat;
		width: 320px;
		height: 160px;
	}
}
