// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #FAFAFA;

// My colours:
$teal: #68B0AB;
$light-teal: #CAE3E2;
$lighter-teal: #E4F1F1;
$p-white: #FBFBFD;
$raisin: #292525;
$peach-crayola: #FFBFA0;
