// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #fafafa;

// My colours:
$teal: #68b0ab;
$light-teal: #cae3e2;
$lighter-teal: #e4f1f1;
$bright-teal: #56eade;
$p-white: #fbfbfd;
$raisin: #292525;
$light-raisin: #443b3b;
$peach-crayola: #ffbfa0;
$silver: #c9c9c9;
