<div class="raisin-background">
	<a id="contact"></a>
	<div class="content-container section contact-container">
		<h1 data-aos="flip-down" class="teal-text section-header">Let's <span class="p-white-text">create</span> something together?</h1>
		<p class="p-white-text">Whether it be a web app, or the start of a new conversation, you're welcome to reach out!</p>
		<span class="light-teal-text">
			<i class="far fa-envelope"></i>
			<a class="email-text" href='ma&#105;&#108;t&#111;&#58;he%&#54;C&#108;%6F&#37;&#52;0e&#110;svo%&#50;Em%6&#53;'>&#104;ello&#64;ensvo&#46;m&#101;</a>
		</span>
		<div class="social-container">
			<a href="https://github.com/ensvo" target="_blank"><i class="lni lni-github-original"></i></a>
			<a href="https://www.linkedin.com/in/elizabeth-vo/" target="_blank"><i class="lni lni-linkedin-original"></i></a>
			<a href="https://codepen.io/ensvo" target="_blank"><i class="lni lni-codepen"></i></a>
		</div>
		<div class="top-arrow">
			<a href="#"><i class="fas fa-arrow-circle-up"></i></a>
		</div>
		<p class="footer">© Elizabeth Vo 2020 - 2021</p>
	</div>
</div>
