<div class="raisin-background">
	<div class="content-container home-nav">
    <h4 class="teal-text">
      <% link_to '/' do %>
        <span><i class="fas fa-arrow-circle-left"></i></span>
      <% end %>
    </h4>
	</div>
</div>
