<%= partial "home" %>
<!--------------------PROJECT INTRO-------------------->
<div class="content-container project-intro-container">
	<div class="project-intro-content" data-aos="fade-right">
		<div class="project-intro-text">
			<div>
				<h1 class="project-greeting-text"><span class="teal-text">Foxy Beats</span></h1>
				<h4>Project Manager</h4>
				<p><i class="devicon-ruby-plain"></i> <i class="devicon-rails-plain"></i> <i class="devicon-html5-plain"></i> <i class="devicon-css3-plain"></i> <i class="devicon-javascript-plain"></i></p>
			</div>
			<p>Foxy Beats is a Ruby on Rails marketplace app developed in a five day sprint with my two teammates. Users can list their vinyls and rent from others.</p>
		</div>
		<div class="project-links-container">
			<a href="https://github.com/ensvo/foxy_beats" target="_blank">
				<div class="link-button"><i class="lni lni-code"></i></div>
			</a>
			<a href="http://foxy-beats.herokuapp.com/" target="_blank">
				<div class="link-button"><i class="lni lni-display-alt"></i></div>
			</a>
		</div>
	</div>
	<div class="project-foxy-pic intro-container-content" data-aos="fade-left"></div>
</div>

<!--------------------DEVELOPMENT-------------------->
<div class="lighter-teal-background vinyls-background">
	<a id="about"></a>
	<div class="content-container project-section about-container">
		<h1 data-aos="flip-down" class="section-header">Development</h1>
		<div class="project-paragraph-container">
			<div class="project-paragraph-content" data-aos="fade-up">
				<p>Building Foxy Beats was the first time developing together as a group, and aiming for a fun and groovy design made familiarizing ourselves with each other's working style so much easier.</p>
			</div>
			<div class="project-paragraph-content" data-aos="fade-up">
				<p>Deezer API serves as the backbone of our app, enabling us to utilize a huge database of real artists, music and album covers.</p>
			</div>
		</div>
	</div>
</div>

<!--------------------HIGHLIGHTS-------------------->
<div class="content-container project-section projects-container">
	<h1 data-aos="flip-down" class="section-header">A couple of snapshots...</h1>
	<div class="project-paragraph-container">
		<div class="project-paragraph-content">
			<h4>Searching the collection</h4>
			<div class="foxy-search-gif"></div>
		</div>
		<div class="project-paragraph-content">
			<h4>Listing your vinyl</h4>
			<div class="foxy-add-gif"></div>
		</div>
		<div class="project-paragraph-content">
			<h4>Requesting to rent</h4>
			<div class="foxy-rent-gif"></div>
		</div>
		<div class="project-paragraph-content">
			<h4>Managing requests</h4>
			<div class="foxy-accept-gif"></div>
		</div>
	</div>
</div>

<!--------------------CHALLENGES-------------------->
<div class="lighter-teal-background">
	<a id="about"></a>
	<div class="content-container project-section about-container">
		<h1 data-aos="flip-down" class="project-section-header">Challenges & Lessons Learnt</h1>
		<div class="project-paragraph-container">
			<div class="project-paragraph-content challenges-paragraph">
				<div>
					<p><strong>Develop with responsiveness in mind fom the start:</strong> We had fully written our code and prioritized making sure the product functions ran smoothly over anything else.</p>
				</div>
			</div>
			<div class="project-paragraph-content challenges-paragraph">
				<div>
					<p>However once we addressed responsiveness, we realised that the layout structure of major components looked fine on a laptop resolution but needed drastic changes when translating for smaller devices.</p>
				</div>
			</div>
		</div>
	</div>
</div>
