<div class="content-container">
	<h1>Hello!</h1> 
	<h1>My name is E<span class="teal-text">liz</span>abeth Vo</h1>
	<p data-aos="fade-right">Australian born and raised, lived in Tokyo for the past five years.</p>
</div>
