<div class="content-container intro-container">
	<div class="intro-pic"></div>
	<div>
		<div class="intro-text">
			<div data-aos="fade-right">
				<h1 class="hello">Hello!</h1> 
				<h1>My name is <span class="teal-text">Elizabeth</span> Vo</h1>
			</div>
			<h1 data-aos="fade-left">I'm an Australian <span class="teal-text">web developer</span></h1> 
			<h1 data-aos="fade-left">based in Tokyo since 2015.</h1>
		</div>
		<div class="circle-button-container">
			<a href="#about"><div class="circle-button"><i class="lni lni-emoji-happy"></i></div></a>
			<a href="#projects"><div class="circle-button"><i class="lni lni-folder"></i></div></a>
			<a href="#contact"><div class="circle-button"><i class="lni lni-comments-alt"></i></div></a>
		</div>
	</div>
</div>

<div class="teal-background">
	<a id="about"></a>
	<div class="content-container section about-container">
		<h1 data-aos="flip-down">My life story (in 11 characters)</h1>
		<p>I like pie.</p>
	</div>
</div>

<div class="content-container section projects-container">
	<a id="projects"></a>
	<h1 data-aos="flip-down">What I've worked on</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione asperiores doloremque officia, a illo recusandae laboriosam voluptate sit autem similique labore neque iste, natus, tempore harum? Nihil nostrum voluptatem ipsam.</p>
</div>

<div class="teal-background">
	<a id="contact"></a>
	<div class="content-container section contact-container">
		<h1 data-aos="flip-down">Let's create something together</h1>
		<p>Whether it be an app, a connection, or the start of a new conversation, you're welcome to reach out. </p>
	</div>
</div>
