<div class="content-container intro">
	<div class="intro-text">
		<div data-aos="fade-left">
			<h1>Hello!</h1> 
			<h1>My name is E<span class="teal-text">liz</span>abeth Vo</h1>
		</div>
		<h1 data-aos="fade-right">I'm an Australian <span class="teal-text">web developer based in Tokyo</span> since 2015.</h1>
	</div>
	<div class="intro-pic"></div>
</div>

<div class="content-container">
	<h1>Projects</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione asperiores doloremque officia, a illo recusandae laboriosam voluptate sit autem similique labore neque iste, natus, tempore harum? Nihil nostrum voluptatem ipsam.</p>
</div>

<div class="content-container">
	<h1>Say hello</h1>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad ipsam vero minus earum amet, minima aliquid laboriosam, dignissimos id voluptatem tempora dolore qui magnam, laborum illum impedit non. Voluptatibus, voluptates?</p>
</div>
