<div class="content-container intro-container">
	<div class="intro-pic"></div>
	<div>
		<div class="intro-text">
			<div data-aos="fade-right">
				<h1 class="hello">Hello!</h1> 
				<h1>My name is <span class="teal-text">Elizabeth</span> Vo</h1>
			</div>
			<h1 data-aos="fade-left">I'm an Australian <span class="teal-text">web developer</span></h1> 
			<h1 data-aos="fade-left">based in Tokyo since 2015.</h1>
		</div>
		<div class="circle-button-container">
			<a href="#about"><div class="circle-button"><i class="lni lni-emoji-happy"></i></div></a>
			<a href="#skills"><div class="circle-button"><i class="lni lni-layers"></i></div></a>
			<a href="#projects"><div class="circle-button"><i class="lni lni-folder"></i></div></a>
			<a href="#contact"><div class="circle-button"><i class="lni lni-comments-alt"></i></div></a>
		</div>
	</div>
</div>

<div class="teal-background">
	<a id="about"></a>
	<div class="content-container section about-container">
		<h1 data-aos="flip-down">My story</h1>
		<p>I like pie.</p>
	</div>
</div>

<div class="teal-background">
	<a id="skills"></a>
	<div class="content-container section skills-container">
		<h1 data-aos="flip-down">Technical Stack and Skills</h1>
		<p>Ruby and shit</p>
	</div>
</div>

<a id="projects"></a>
<div class="content-container section projects-container">
	<h1 data-aos="flip-down">Projects</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione asperiores doloremque officia, a illo recusandae laboriosam voluptate sit autem similique labore neque iste, natus, tempore harum? Nihil nostrum voluptatem ipsam.</p>
</div>

<div class="content-container section projects-container">
	<h1 data-aos="flip-down">What I'm working on</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione asperiores doloremque officia, a illo recusandae laboriosam voluptate sit autem similique labore neque iste, natus, tempore harum? Nihil nostrum voluptatem ipsam.</p>
</div>

<div class="dim-gray-background">
	<a id="contact"></a>
	<div class="content-container section contact-container">
		<h1 data-aos="flip-down" class="teal-text">Let's <span class="p-white-text">create</span> something together</h1>
		<p class="p-white-text">Whether it be a web app, or the start of a new conversation, you're welcome to reach out!</p>
		<span class="light-teal-text"><i class="far fa-envelope"></i><a class="ml-2" href='ma&#105;&#108;t&#111;&#58;he%&#54;C&#108;%6F&#37;&#52;0e&#110;svo%&#50;Em%6&#53;'>&#104;ello&#64;ensvo&#46;m&#101;</a></span>
		<div class="social-container">
			<a href="https://github.com/ensvo" target="_blank"><i class="lni lni-github-original"></i></a>
			<a href="https://www.linkedin.com/in/elizabeth-vo/" target="_blank"><i class="lni lni-linkedin-original"></i></a>
		</div>
		<p class="footer mt-4">© Elizabeth Vo 2020</p>
	</div>
</div>
