<%= partial "home" %>
<!--------------------PROJECT INTRO-------------------->
<div class="content-container project-intro-container">
	<div class="project-intro-content" data-aos="fade-right">
		<div class="project-intro-text">
			<div>
				<h1 class="project-greeting-text"><span class="teal-text">iru</span></h1>
				<h4>Front-End Lead, Presenter</h4>
			</div>
			<p>In ten days with two teammates, I built and publicly presented a Ruby on Rails app aiming to increase efficient engagement between NPOs and individuals.</p>
			<% if false %>
				<p><i class="devicon-ruby-plain"></i> <i class="devicon-rails-plain"></i> <i class="devicon-html5-plain"></i> <i class="devicon-css3-plain"></i> <i class="devicon-javascript-plain"></i></p>
			<% end %>
		</div>
		<div class="project-links-container">
			<a href="https://github.com/ensvo/iru" target="_blank">
				<div class="link-button"><i class="lni lni-code"></i></div>
			</a>
			<a href="http://www.iru.world" target="_blank">
				<div class="link-button"><i class="lni lni-display-alt"></i></div>
			</a>
			<a href="https://youtu.be/38pqCXc-lrY?t=510" target="_blank">
				<div class="link-button"><i class="lni lni-video"></i></div>
			</a>
		</div>
	</div>
	<div class="project-intro-pic intro-container-content" data-aos="fade-left"></div>
</div>

<!--------------------PAIN, SOLUTION-------------------->
<div class="lighter-teal-background map-background">
	<a id="about"></a>
	<div class="content-container project-section about-container">
		<div class="project-paragraph-container">
			<div class="project-paragraph-content">
				<h4 data-aos="flip-down">Pain</h4>
				<p>Small NPOs find it hard to get continuous attention, and may receive donations relevant to their cause, but not 100% specific to their needs.</p>
			</div>
			<div class="project-paragraph-content">
				<h4 class="underline-text" data-aos="flip-down">The Solution</h4>
				<p>To create a central hub for NPOs to list their needs on a map, connecting individuals who can easily search, donate and know where their efforts are going.</p>
			</div>
		</div>
	</div>
</div>

<!--------------------HIGHLIGHTS-------------------->
<div class="content-container project-section projects-container">
	<h1 data-aos="flip-down" class="section-header">User Journey</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione asperiores doloremque officia, a illo recusandae laboriosam voluptate sit autem similique labore neque iste, natus, tempore harum? Nihil nostrum voluptatem ipsam.</p>
	<div class="project-paragraph-container">
		<div class="project-paragraph-content">
			<div class="map-gif"></div>
		</div>
		<div class="project-paragraph-content">
			<div class="donation-gif"></div>
		</div>
		<div class="project-paragraph-content">
			<div class="comment-gif"></div>
		</div>
		<div class="project-paragraph-content">
			<div class="sns-gif"></div>
		</div>
	</div>
</div>

<!--------------------CHALLENGES-------------------->
<div class="lighter-teal-background">
	<a id="about"></a>
	<div class="content-container project-section about-container">
		<h1 data-aos="flip-down" class="project-section-header">Learning Experience</h1>
		<div class="project-paragraph-container">
			<div class="project-paragraph-content">
				<h4>Challenges</h4>
				<p>I have a background in working for the Government of Japan and consulting Pharmaceutical companies from a <a href="http://www.linkedin.com/in/elizabeth-vo" target="_blank">fruitful 5 year career purely in start up environments</a> across the education sector, recruitment and sales.</p>
			</div>
			<div class="project-paragraph-content">
				<h4>Lessons Learnt</h4>
				<p>There is almost nothing I love more than waking up on a warm Sunday morning to the <a href="https://youtu.be/oYEYc8Ge3nw" target="_blank">distant warbling of magpies</a> and the scent of freshly baked pastry meat pies.</p>
				<p><em>Except maybe squashing the last bug in my code!</em> <i class="far fa-smile-wink"></i></p>
			</div>
		</div>
	</div>
</div>
