<div class="content-container intro-container">
	<div class="intro-pic"></div>
	<div>
		<div class="intro-text">
			<div data-aos="fade-right">
				<h1 class="hello">Hello!</h1> 
				<h1>My name is <span class="teal-text">Elizabeth</span> Vo.</h1>
			</div>
			<h1 data-aos="fade-left">I'm an Australian <span class="teal-text">web developer</span></h1> 
			<h1 data-aos="fade-left">based in Tokyo since 2015.</h1>
		</div>
		<div class="circle-button-container">
			<a href="#about"><div class="circle-button"><i class="lni lni-emoji-happy"></i></div></a>
			<a href="#projects"><div class="circle-button"><i class="lni lni-folder"></i></div></a>
			<a href="#skills"><div class="circle-button"><i class="lni lni-layers"></i></div></a>
			<a href="#contact"><div class="circle-button"><i class="lni lni-comments-alt"></i></div></a>
		</div>
	</div>
</div>
