<%= partial "home" %>
<!--------------------PROJECT INTRO-------------------->
<div class="content-container project-intro-container">
	<div class="project-intro-content" data-aos="fade-right">
		<div class="project-intro-text">
			<div>
				<h1 class="project-greeting-text"><span class="teal-text">iru</span></h1>
				<h4>Front-End Lead, Presenter</h4>
				<p><i class="devicon-ruby-plain"></i> <i class="devicon-rails-plain"></i> <i class="devicon-html5-plain"></i> <i class="devicon-css3-plain"></i> <i class="devicon-javascript-plain"></i></p>
			</div>
			<p>In ten days with two teammates, I built and publicly presented a Ruby on Rails app improving engagement between NPOs and individuals at a community level.</p>
		</div>
		<div class="project-links-container">
			<a href="https://github.com/ensvo/iru" target="_blank">
				<div class="link-button"><i class="lni lni-code"></i></div>
			</a>
			<a href="http://www.iru.world" target="_blank">
				<div class="link-button"><i class="lni lni-display-alt"></i></div>
			</a>
			<a href="https://youtu.be/38pqCXc-lrY?t=510" target="_blank">
				<div class="link-button"><i class="lni lni-video"></i></div>
			</a>
		</div>
	</div>
	<div class="project-intro-pic intro-container-content" data-aos="fade-left"></div>
</div>

<!--------------------PAIN, SOLUTION-------------------->
<div class="lighter-teal-background map-background">
	<a id="about"></a>
	<div class="content-container project-section about-container">
		<div class="project-paragraph-container">
			<div class="project-paragraph-content">
				<h4>Pain #1</h4>
				<p>Small NPOs often face difficulties gaining continuous attention. They may receive donations relevant to their cause, but not 100% specific to their needs.</p>
				<br>
				<h4>Pain #2</h4>
				<p>People with spare items, money or time to donate may not always know exactly what their donations are being used for, nor easily discover local organizations with low visibility.</p>
			</div>
			<div class="project-paragraph-content" data-aos="fade-up">
				<h4 class="underline-text">The Solution</h4>
				<p>By creating a simple interface for organizations to easily manage and register their causes/goals (donations, fundraising, events) on a map, individuals can enjoy exploring their community efforts with more clarity as to what their contributions can go towards.</p>
				<br>
				<p>APIs implemented include Mapbox for the simple map interface, Cloudinary's image hosting and Stripe's payment system. We deployed iru on Heroku due to its minimal-fuss PaaS features.</p>
			</div>
		</div>
	</div>
</div>

<!--------------------HIGHLIGHTS-------------------->
<div class="content-container project-section projects-container">
	<h1 data-aos="flip-down" class="section-header">A couple of snapshots...</h1>
	<div class="project-paragraph-container">
		<div class="project-paragraph-content">
			<h4>Filtering via categories</h4>
			<div class="map-gif"></div>
		</div>
		<div class="project-paragraph-content">
			<h4>Making a donation</h4>
			<div class="donation-gif"></div>
		</div>
		<div class="project-paragraph-content">
			<h4>Instant comments</h4>
			<div class="comment-gif"></div>
		</div>
		<div class="project-paragraph-content">
			<h4>Sharing to SNS</h4>
			<div class="sns-gif"></div>
		</div>
	</div>
	<br>
	<p>(You can view the full site <a href="http://www.iru.world" target="_blank">here</a> or my live presentation video <a href="https://youtu.be/38pqCXc-lrY?t=510" target="_blank">here!</a>)</p>
</div>

<!--------------------CHALLENGES-------------------->
<div class="lighter-teal-background">
	<a id="about"></a>
	<div class="content-container project-section about-container">
		<h1 data-aos="flip-down" class="project-section-header">Learning Experience</h1>
		<div class="project-paragraph-container">
			<div class="project-paragraph-content">
				<h4>Challenges</h4>
				<div class="challenges-paragraph">
					<p>I have a background in working for the Government of Japan and consulting Pharmaceutical companies from a <a href="http://www.linkedin.com/in/elizabeth-vo" target="_blank">fruitful 5 year career purely in start up environments</a> across the education sector, recruitment and sales.</p>
				</div>
			</div>
			<div class="project-paragraph-content">
				<h4>Lessons Learnt</h4>
				<p>There is almost nothing I love more than waking up on a warm Sunday morning to the <a href="https://youtu.be/oYEYc8Ge3nw" target="_blank">distant warbling of magpies</a> and the scent of freshly baked pastry meat pies.</p>
				<p><em>Except maybe squashing the last bug in my code!</em> <i class="far fa-smile-wink"></i></p>
			</div>
		</div>
	</div>
</div>
